@page "/tickets"
@using Stadium.Shared.Entities;

@inject IRepository repository

<h3>Tickets</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/Tickets/create">Nuevo Ticket</a>
</div>

<GenericList MyList="Tickets">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Tribuna</th>
                </tr>
            </thead>

            <div class="mb-3">
                <form method="get">
                    <label for="ticketNumberInput" class="form-label">Numero del ticket:</label>
                    <input type="number" class="form-control" id="ticketNumberInput" name="ticketNumber" min="0" max="100" required>
                    <button type="submit" class="btn btn-warning" onclick='document.location.href="/tickets/edit/" + document.getElementById("ticketNumberInput").value;'>Consultar</button>
                </form>
            </div>
        </table>
    </Body>
</GenericList>

@code {


    public List<Ticket>? Tickets { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var responseHppt = await repository.Get<List<Ticket>>("api/tickets");
        Tickets = responseHppt.Response!;
    }
}