@page "/tickets"
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager
@inject IRepository repository
<center><h3>Control de entradas en el estadio</h3></center>


<GenericList MyList="Tickets">
    <Body>
        <table class="table table-striped">

            <div class="mb-3">
                <form method="get">
                    <label for="ticketNumberInput" class="form-label">Numero del ticket:</label>
                    <input type="number" class="form-control" id="ticketNumberInput" name="ticketNumber" min="1" required>

                </form>
                <br />
                <center>
                    <button type="submit" class="btn btn-warning" onclick='document.location.href="/tickets/edit/" + document.getElementById("ticketNumberInput").value;'>Consultar Boleta</button>
                </center>

            </div>
        </table>
    </Body>
</GenericList>

@code {
    public List<Ticket>? Tickets { get; set; }



    protected async override Task OnInitializedAsync()
    {
        var responseHppt = await repository.Get<List<Ticket>>("api/tickets");
        Tickets = responseHppt.Response!;
    }
}
